@font-face {
    font-family: mainFont;
    src: url(fonts/AlphaMacAOE.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(fonts/ATL.ttf)
}

#header {
    border-radius: 1px 50px;
    background-color: white;
    color: black;
    text-align: center;    
}

#topText {
    font-family: mainFont;
    font-size: 5vw;
}

#leftPanel{
    position: fixed;
    left: 8%;
}

#backArrow{
    position: fixed;
    left: 5%;
    top: 10%;
}

#language{
    position: fixed;
    right: 15%;
    top: 5%;
    font-family: titleFont;
    font-size: 2vw;
    font-weight: bolder;
    cursor: pointer;
}

#titleImage{
    position: fixed;
    left: 27%;
    top: 32%;
}

#workImage{
    position: fixed;
    /*    left: 25%;
        top: 25%;*/
    left: 30%;
    top: 35%;
}

#aboutImage{
    position: fixed;
    left: 34%;
    top: 25%;
    width: 30%;
}

.artistImage{
    position: fixed;
    top: 27%;
    width: 10%;
}

#artistParagraph1 {
    position: fixed;
    top: 45%;
    left: 21.5%;
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
}

#artistParagraph2 {
    position: fixed;
    top: 45%;
    left: 43%;
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
}

#artistParagraph3 {
    position: fixed;
    top: 45%;
    left: 66%;
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
}

#aboutParagraph{
    position: fixed;
    top: 70%;
    padding-left: 35%;
    padding-right: 35%;
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
}

.titleButton{
    position: fixed;
    /* left: 82%; */
    font-family: titleFont;
    font-size: 2vw;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    cursor: pointer;
}

.titleButton:hover, #next:hover, #prev:hover {
    color: lightgray;
    text-decoration: none;
}

.sideButton{
    position: fixed;
    font-family: titleFont;
    font-size: 2vw;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    cursor: pointer;
}

.sideButton:hover, #next:hover, #prev:hover {
    color: lightgray;
    text-decoration: none;
}

.social{
    cursor: pointer;
}

.social:hover {
    opacity: 0.7;
}

#next{
    position: fixed;
    top: 55%;
    right: 20%; 
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 5vw;
}

#prev {
    position: fixed;
    top: 55%;
    left: 20%;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 5vw;
}

#shopPara {
    position: fixed;
    top: 35%;
    padding-left: 35%;
    padding-right: 35%;
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
}

#contactPara {
    position: fixed;
    top: 35%;
    padding-left: 36%;
    padding-right: 36%;
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
}