html { overflow-y: scroll; }
* {
  box-sizing: border-box;
}

@font-face {  
  font-family: "classy";  
src: url("Fonts/Stay Classy SLDT.ttf");
}

@font-face {  
  font-family: "Gloria";  
src: url("Fonts/GloriaHallelujah-Regular.ttf");
}

@font-face {  
  font-family: "Autography";  
src: url("Fonts/Autography.otf");
}

@font-face {  
  font-family: "Song";  
src: url("Fonts/Please\ write\ me\ a\ song.ttf");
}

.backgroundColor {
  background-color: rgba(184, 155, 107, 0.05);
}

#header {
  border-radius: 1% 50%;
  text-align: center;
  padding-bottom:1%;
  padding-top:1%;
}

.topText {
  font-family: Autography;
  font-size: 6vw;
  color: rgb(184, 155, 107);
  text-align: center;
}

.boldText {
  color: rgb(184, 155, 107);
  font-weight: bold;
  /* background-color: rgba(184, 155, 107, 0.2); */
}

#leftPanel {
  float: left;
  width: 30%;
  text-align: left;
  padding-left:1%;
}

#rightPanel {
  float: right;
  width: 15%;
  text-align: right;
  padding-right:1%;
}

#timer {
  position: fixed;
  bottom:1%;
}

#backArrow {
  position: fixed;
  left: 5%;
  top: 5%;
}

#main {  
  float: left;
  width: 42.5%;
}
#titleImage {
  text-align: center;
  max-width:100%;
  height:auto;
}

.centralImage {
  width: 100%;
  /* text-align: center; */
  padding-top:2%;
  padding-left:30%;
  padding-right:30%;
}

.locationImage {
  float: left;
  width: 25.5%;
  text-align: left;
  padding-left:1%;
}
#aboutImage {
  max-width:100%;
  height:auto;
}
.locationImage2 {
  float: right;
  width: 32%;
  text-align: right;
  padding-right:1%;
  padding-top:5%;
}
#aboutImage2 {
  max-width:100%;
  height:auto;
}

.aboutParagraph {
  width: 90%;
  padding-left: 10%;
  padding-top: 0%;
  font-family: Song;
  font-size: 1.5vw;
  text-align: center;
}

.titleButton button {
  /*position: fixed;*/
  color: black;
  font-family: Song;
  font-size: 2vw;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: medium none;
  margin: 0px;
  padding-bottom: 5%;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.titleButton button:hover, #next:hover, #prev:hover {
  color: lightgray;
  text-decoration: none;
}

.sideButton button {
  /*position: fixed;*/
  /* top: 5%; */
  color: black;
  font-family: Song;
  font-size: 2vw;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: medium none;
  margin: 5%;
  padding-bottom: 5%;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.sideButton button:hover, #next:hover, #prev:hover {
  color: lightgray;
  text-decoration: none;
}

.social {
  cursor: pointer;
}

.social:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .locationImage, .locationImage2 {
    width: 150%;
  }
  .titleButton button, .sideButton button {
    font-size: 8vw;
  }
  .aboutParagraph {
    font-size: 6vw;
  }
  .topText {
    font-size: 16vw;
  }
  .sideButton button  {
    padding-top: 8cm;
    font-size: 8vw;
  }
  .titleButton button  {
    font-size: 8vw;
  }

}

